<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Vehículos</title>
    <link rel="stylesheet" href="/estilos/catalogo.css">
    <!-- <link rel="stylesheet" href="/src/main/resources/static/estilos/catalogo.css"> -->

</head>
<body>

<header class="header-nav">
    <div class="logo">HYPERNOVA
    </div>
    <div class="menu-derecho">
        <nav>
            <a href="conoce-mas" id="conoce-mas-link">Conoce mas</a>
            <a href="#">Gestionar mi reserva</a>
            <a href="#" id="accion-link">Administrador</a>
        </nav>
    </div>
</header>

<main>
    <div class="titulo-seccion">
        <h1>Catalogo de Vehículos</h1>
    </div>

    <div class="buscador-container">
        <div class="buscar-marca">
            <label for="marca">Buscar por Marca o Modelo:</label>
            <input type="text" id="marca" name="marca" placeholder="Ej. Toyota o Honda">
            <button type="button" id="btn-buscar" class="btn-buscar">Buscar</button>
        </div>
    
    <div class ="buscar-fecha">
        <label for="fecha-inicio">Fecha de Inicio:</label>
        <input type="date" id="fecha-inicio" name="fecha-inicio" min="2026-04-01" max="2026-12-12">
        <label for="fecha-fin">Fecha de Fin:</label>
        <input type="date" id="fecha-fin" name="fecha-fin" min="2026-04-01" max="2026-12-12">
        <button type="button" id="btn-buscar-fechas" class="btn-buscar">Buscar por Fechas</button>
    </div>
    </div>
    
    <div id="catalogo-grid" class="catalogo-grid">    

    </div>
</main>
<script src="/js/Catalogo.js"></script>
</body>
</html>