<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conoce Mas</title>
     <!-- <link rel="stylesheet" href="/estilos/conoce.css">-->
    <link rel="stylesheet" href="/estilos/conoce.css"> 

</head>
<body>
<header class="header-nav">
    <div class="logo">HYPERNOVA</div>
    <div class="menu-derecho">
        <nav>
            <a href="#">Catalogo</a>
            <a href="#">Ubicacion</a></nav>
    </div>
</header>
    <main>
          <h1>HYPERNOVA NEW ERA</h1>
    </main>
 <div class="contenedor-padre">
    <div class="banner">
        <br><br>
        <img src="/img/logo2.png" alt="">    
    </div>
    <div class="contenedor">
        <p>
            Somos una empresa dedicada a la renta de vehiculos con el objetivo de brindar a 
            nuestros clientes una experiencia de movilidad excepcional. En 
            HYPERNOVA, nos esforzamos por ofrecer una amplia gama de vehículos de 
            alta calidad, desde autos compactos hasta SUV de lujo, para satisfacer las 
            necesidades y preferencias de cada cliente. Nuestro compromiso es proporcionar 
            un servicio al cliente excepcional, asegurando que cada alquiler sea fácil, 
            conveniente y sin complicaciones. Ya sea que necesites un vehículo para un 
            viaje de negocios, unas vacaciones familiares o simplemente para moverte por la 
            ciudad, en HYPERNOVA estamos aquí para ayudarte a encontrar el vehículo 
            perfecto para ti.
        </p>
        <br>
        <p>
            Por el momonento la empresa se encuentra solo dispoible en la CDMX, pero esperamos expandirnos
            a otras ciudades en el futuro cercano. Nuestro objetivo es ser la opción número uno para
        </p>
    </div>
</div>
<br><br><br><br><br><br>
<div class="contactos">
        <h2>Contactanos</h2>
        <p>Correo: <a href="mailto:capriimanuel@gmail.com">capriimanuel@gmail.com</a></p>
        <p>Telefono: 55-455-623-55</p> 
        <p> Facebook: <a href="https://www.facebook.com/Hypernova">https://www.facebook.com/Hypernova</a></p>
    </div>


    <script src="/js/ConoceMas.js"></script>
</body>
</html>